 
Generate 1000 by 6 columns data using NumPy random method. Generate the patient_id , height, weight, sex and age columns separately. Calculate their bmi = weight/height**2 . Using NumPy, stack all columns together. Transform your data into pandas DataFrame. Create a new column in your Dataframe and name it “interpretation”. Fill the column with underweight, normalweight, overweight, obese, clinicallyobese based on their bmi column. Using your dataset perform statistical analysis and answer the following

•Mean height, weight and age

•All underweight and obese

•How many underweight patient are 30 years but below 45

•How many patient are normal and are females below 25 years

•Number of males who are obese 

•number of male and females who are above the average age and are normal.

In [ ]:
# steps:

# Import Numpy package
# Random number generation
# Stack all the columns together
# Transform into panda dataframes
# Add another column and assign values
# Calculations

In [1]:
#Import NumPy Package
import numpy as np
rng = np.random.default_rng(seed =1) #seed ensures reproducibility

#### Random Number Generation

In [23]:
#Generating array for patient_id, age , sex, weight,height

# 1.Patient_id is chosen as a 3-digit integer
patient_id = np.arange(100,1100)


# 2.Age is chosen between 1 and 100 inclusive
Age = rng.integers(low=1, high=100, size=1000)

# 3.Sex is chosen as an integer (1= Male, 0=Female)
Sex = rng.integers(low=0, high=1, size=1000, endpoint =True)


#4. Weight is a float value 30-200
weight = np.around(rng.uniform(low=30, high=200, size=1000),2)

#5. Height is a float value 1-1.9
height = np.around(rng.uniform(low=1, high=1.9, size=1000),2)
# BMI calculations
BMI = weight/height**2

#### Stacking all the columns together

In [24]:
#use np.column_stack()
patient_record = np.column_stack([patient_id,Age, Sex, weight,height, BMI])
print(patient_record)

[[1.00000000e+02 4.00000000e+01 1.00000000e+00 1.20730000e+02
  1.41000000e+00 6.07263216e+01]
 [1.01000000e+02 6.40000000e+01 1.00000000e+00 1.48110000e+02
  1.59000000e+00 5.85854990e+01]
 [1.02000000e+02 6.10000000e+01 0.00000000e+00 1.48260000e+02
  1.41000000e+00 7.45737136e+01]
 ...
 [1.09700000e+03 8.60000000e+01 0.00000000e+00 1.98200000e+02
  1.82000000e+00 5.98357686e+01]
 [1.09800000e+03 6.10000000e+01 0.00000000e+00 1.95220000e+02
  1.27000000e+00 1.21036642e+02]
 [1.09900000e+03 2.90000000e+01 0.00000000e+00 3.04900000e+01
  1.33000000e+00 1.72367008e+01]]

#### Transform the data into panda dataframes

In [29]:
#Import pandas
import pandas as pd
#Create Dataframe

pat_rec = pd.DataFrame(patient_record)
pat_rec
#Rename the columns
pat_rec.columns=['patient_id', 'Age','Sex', 'weight','height', 'BMI']
pat_rec

#Reassign the datatypes for the columns
pat_rec=pat_rec.astype({'patient_id': int, 'Age': int,  'Sex':int})

pat_rec

     patient_id  Age  Sex  weight  height         BMI
0           100   40    1  120.73    1.41   60.726322
1           101   64    1  148.11    1.59   58.585499
2           102   61    0  148.26    1.41   74.573714
3           103   15    0   65.73    1.10   54.322314
4           104   51    1  123.90    1.69   43.380834
..          ...  ...  ...     ...     ...         ...
995        1095   94    1   95.74    1.46   44.914618
996        1096   10    1  199.72    1.75   65.214694
997        1097   86    0  198.20    1.82   59.835769
998        1098   61    0  195.22    1.27  121.036642
999        1099   29    0   30.49    1.33   17.236701

[1000 rows x 6 columns]

#### Adding another column to the dataframe
#### Assign Interpretation

In [32]:
#1. Create an empty list Interpretation = []

Interpretation = []

#2. Use a for loop to assign the values based on data in BMI
#Key: less than 18 => Underweight; between 18.5 and 24.99 inclusive=> NormalWeight;
    # between 25 and 29.99 inclusive=> OverWeight; between 30 and 34.99 inclusive=> Obese
    # 35 and above => clinically Obese

for i in  pat_rec['BMI']:
    if i<18.5:
        Interpretation.append('Underweight')
    elif i>=18.5 and i<25:
        Interpretation.append('Normal Weight')
    elif i>=25 and i <30:
        Interpretation.append('OverWeight')
    elif i>=30 and i<35:
        Interpretation.append('Obese')
    elif i>35:
        Interpretation.append('Clinically Obese')
                        


#3. Create new column by assignment    

pat_rec['Interpretation']=Interpretation
pat_rec

     patient_id  Age  Sex  weight  height         BMI    Interpretation
0           100   40    1  120.73    1.41   60.726322  Clinically Obese
1           101   64    1  148.11    1.59   58.585499  Clinically Obese
2           102   61    0  148.26    1.41   74.573714  Clinically Obese
3           103   15    0   65.73    1.10   54.322314  Clinically Obese
4           104   51    1  123.90    1.69   43.380834  Clinically Obese
..          ...  ...  ...     ...     ...         ...               ...
995        1095   94    1   95.74    1.46   44.914618  Clinically Obese
996        1096   10    1  199.72    1.75   65.214694  Clinically Obese
997        1097   86    0  198.20    1.82   59.835769  Clinically Obese
998        1098   61    0  195.22    1.27  121.036642  Clinically Obese
999        1099   29    0   30.49    1.33   17.236701       Underweight

[1000 rows x 7 columns]

#### Calculations

•Mean height, weight and age

•All underweight and clinically obese

•How many underweight patient are 30 years but below 45

•How many patient are normal and are females below 25 years

•Number of males who are obese and clinically obese

•number of male and females who are above the average age and are normal.

In [37]:
# 1.Mean Values
#a. Create Variables and calculate mean using np.mean

mean_height = np.mean(pat_rec['height'])
mean_weight = np.mean(pat_rec['weight'])
mean_age = np.mean(pat_rec['Age'])


print(f' Mean height: {mean_height} \n Mean weight: {mean_weight} \n Mean age: {mean_age}')

pat_rec.describe()

 Mean height: 1.4370499999999968
 Mean weight: 114.55309000000003
 Mean age: 48.632

,patient_id,Age,Sex,weight,height,BMI
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,599.500000,48.632000,0.503000,114.553090,1.437050,61.092507
std,288.819436,28.569964,0.500241,49.740776,0.255348,36.388901
min,100.000000,1.000000,0.000000,30.000000,1.000000,10.238227
25%,349.750000,23.000000,0.000000,69.555000,1.220000,32.245613
50%,599.500000,49.000000,1.000000,114.505000,1.420000,53.733309
75%,849.250000,73.000000,1.000000,160.052500,1.660000,81.129649
max,1099.000000,99.000000,1.000000,199.720000,1.900000,193.961376

In [40]:
# 2. All underweight and obese


#a. Passing underweight and obese into a list 
filt = ( pat_rec['Interpretation']=='Underweight')| (pat_rec['Interpretation']=='Obese')

pat_rec[filt]




# Have a view of the first 100

     patient_id  Age  Sex  weight  height        BMI Interpretation
13          113    8    1   42.12    1.81  12.856750    Underweight
18          118   64    0   44.24    1.62  16.857186    Underweight
22          122   84    1   74.52    1.54  31.421825          Obese
35          135   50    1   81.90    1.63  30.825398          Obese
38          138   48    1   67.87    1.40  34.627551          Obese
..          ...  ...  ...     ...     ...        ...            ...
973        1073   44    1   31.79    1.68  11.263464    Underweight
980        1080   73    1   48.00    1.22  32.249395          Obese
983        1083   94    1   44.47    1.20  30.881944          Obese
986        1086   10    1   41.35    1.16  30.729786          Obese
999        1099   29    0   30.49    1.33  17.236701    Underweight

[139 rows x 7 columns]

In [41]:
# 3. How many underweight patient are 30 years but below 45

#a. filter underweight
filt1 =(pat_rec['Interpretation'] =='Underweight') &((pat_rec['Age'] >=30) & (pat_rec['Age'] <45)) 

pat_rec[filt1]
#b.Generate the values of ages using np.arange
# filt = np.arange(30,35)#c Use the isin() function

#print('The number of underweight patients who are 30 years but below 45 are: ',len(underweight_table))

     patient_id  Age  Sex  weight  height        BMI Interpretation
63          163   39    0   40.33    1.56  16.572156    Underweight
284         384   43    0   31.32    1.31  18.250685    Underweight
542         642   31    1   42.76    1.79  13.345401    Underweight
577         677   32    1   47.83    1.72  16.167523    Underweight
744         844   34    1   44.89    1.75  14.657959    Underweight
769         869   31    0   50.79    1.89  14.218527    Underweight
943        1043   40    1   43.81    1.61  16.901354    Underweight
973        1073   44    1   31.79    1.68  11.263464    Underweight

In [50]:
# 4. How many patient are normal and are females below 25 years

#a.filter normal weight out
filt2 = pat_rec['Interpretation'] == 'Normal Weight'
Normal_table = pat_rec[filt2]

Normal_table
#b.filter the sex and age out

filt3 = (Normal_table['Age']<25 ) & (Normal_table['Sex'] ==0)

Normal_table = Normal_table[filt3]
print('The number of normal weight female patients: ',len(Normal_table))

The number of normal weight female patients:  7

In [53]:
#Number of males who are obese 



#Filtering by interpretation and storing in another variable

filt = (pat_rec['Interpretation'] =='Obese') & (pat_rec['Sex'] ==1)

pat_rec[filt]

print(' Number: ',len(pat_rec[filt] ))

 Number:  42

In [64]:
#number of male and females who are above the average age and are normal.



#Find those above the average age
filt = pat_rec['Age']>mean_age
average_table = pat_rec[filt]

#count and group by sex
average_table.groupby('Sex')['patient_id'].count()

Sex
0    251
1    258
Name: patient_id, dtype: int64